.App {
  text-align: center;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  margin: 0 auto;
}

.header {
  margin-top: 25px;
  margin-bottom: 25px;
}

#bookIcon {
  color: rgb(1, 75, 136);
}

nav#navigation {
  /*background-image: linear-gradient(rgb(0, 140, 255), cyan); */
  color: black;
  border-bottom: 1px solid black !important;
}

#brandname {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

.addForm{
  margin: 0 auto;
  margin-top: 25px;
}

#addButton {
  float: right;
  width: 25%;
}

#searchButton  {
  color: black;
  
}

.hidden {
  display: none;
}

input#wishlist:focus{
  outline-color: transparent;
}


body, html{
  background-image: linear-gradient(rgba(90, 90, 81, 0.397),rgba(52, 74, 102, 0.336));
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  padding: 0;
}